<p id="notice"><%= notice %></p>

<p>
  <strong>Harvest date:</strong>
  <%= @production_record.harvest_date %>
</p>

<p>
  <strong>Tree number:</strong>
  <%= @production_record.tree_number %>
</p>

<p>
  <strong>Production:</strong>
  <%= @production_record.production %>
</p>

<p>
  <strong>C90:</strong>
  <%= @production_record.c90 %>
</p>

<p>
  <strong>C8590:</strong>
  <%= @production_record.c8590 %>
</p>

<p>
  <strong>C8085:</strong>
  <%= @production_record.c8085 %>
</p>

<p>
  <strong>C80:</strong>
  <%= @production_record.c80 %>
</p>

<p>
  <strong>C7580:</strong>
  <%= @production_record.c7580 %>
</p>

<p>
  <strong>C7275:</strong>
  <%= @production_record.c7275 %>
</p>

<p>
  <strong>C7072:</strong>
  <%= @production_record.c7072 %>
</p>

<p>
  <strong>C6870:</strong>
  <%= @production_record.c6870 %>
</p>

<p>
  <strong>C6568:</strong>
  <%= @production_record.c6568 %>
</p>

<p>
  <strong>C65:</strong>
  <%= @production_record.c65 %>
</p>

<p>
  <strong>C6065:</strong>
  <%= @production_record.c6065 %>
</p>

<p>
  <strong>C5560:</strong>
  <%= @production_record.c5560 %>
</p>

<p>
  <strong>C55:</strong>
  <%= @production_record.c55 %>
</p>

<p>
  <strong>Block:</strong>
  <%= @production_record.block %>
</p>

<%= link_to 'Edit', edit_block_production_record_path(@block, @production_record), :class => 'btn btn-xs btn-primary ' %> |
<%= link_to 'Back', showphenology_block_path(@block), :class => 'btn btn-xs btn-primary ' %>