<%= simple_form_for(@group, html: {class: 'form-group'}, defaults: { input_html: { class: 'form-control'}} ) do |f| %>

  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :name %>
  <%= f.association :species %>
  
  <p></p>
  <%= f.button :submit %>
  <p></p>

<% end %>
