<%= simple_form_for(@block, html: {class: 'form-group'}, defaults: { input_html: { class: 'form-control'}}) do |f| %>
  
  <% if @block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.association :collection %>
    <%= f.association :accession %>
    <%= f.input :row %>
    <%= f.input :first_tree %>
    <%= f.input :last_tree %>
    <%= f.input :tree_number %>
    <%= f.input :planting_date, :input_html => { data: {behaviour: "datepicker"}}, :as => :string %>     
    <%= f.input :pullout_date, :input_html => { data: {behaviour: "datepicker"}}, :as => :string %>      
    <p></p>
    <%= f.button :submit %>
    <p></p> 
<% end %>


